//Colors
$primary-green:#014E56;
$primary-coral:#F67E7E;
$primary-white:#fff;

$secondary-blue:#79C8C7;
$secondary-police-blue:#2C6269;
$secondary-jungle-green:#004047;
$secondary-state-green:#012F34;
$secondary-dark-green:#002529;

//Fonts
$livvic:'Livvic';
