.footer{
    padding: 48px 0;
    background-color:$secondary-dark-green;
    &__container{
        display: flex;
    }
    &__nav{
        display:inline-block;
    }
    &__list{
        margin:0;
        margin-top: 25px;
    }
    &__text{
        display: inline-block;
        opacity: .6;
        color:$primary-white;
        margin-left: 125px;
        &-call{
            color:$primary-white ;
        }
    }
    &__icons{
        display: inline-block;
        margin-left:auto;
        text-align: right;
        .fab{
            font-size: 24px;
            color: $primary-white;
        }
        .fab:nth-child(2){
            margin-right: 16px;
            margin-left: 16px;
        }
    }
    &__end{
        display: block;
        margin-top: 51px;
        color:$primary-white;
        opacity: .6;
    }
    @media only screen and (max-width:768px){
        &__container{
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__text{
            // margin-right: auto;
            // margin-left: auto;
            text-align: right;
        }
        &__icons{
            display:flex;
            margin-left: 0;
            width: 100%;
            margin-top: 32px;
        }
        &__end{
            margin-top: 0;
        }
        .inner__icons{
            margin-right: auto;
        }
    }
    @media only screen and (max-width:576px){
        &__container{
            flex-direction: column;
            align-items: center;
        }
        &__text{
            text-align: center;
            margin-left: 0;
        }
        &__icons{
            flex-direction: column;
            align-items: center;
        }
        .inner__icons{
            margin-right: 0;
        }
        &__end{
            margin-top: 16px;
        }
    }
}